.App {
  display: grid;
  grid-template-areas: "head"
    "main"
    "footer";
  grid-template-rows: 100px 500px 200px;
  grid-template-columns: 1fr;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  grid-area: head;
  margin-bottom: 1rem;
}

.products-page {
  grid-area: main;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 1fr 5fr;
}

.side-nav {
  grid-area: aside;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: .5rem;
}

.side-nav-heading {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.float-left {
  float: left;
}

.container-products {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}



/*
Cart styles below
*/

.cart {
  margin: 2rem 6rem;
}

.cart-head {
  display: flex;
  width: 100%;
  background-color: darkgrey;
}

.cart-item {
  display: flex;
  padding-top: .5rem;
  border-top: 1px solid gray;
}

.cart-pill {
  padding: 1rem;
}

.description {
  display: flex;
  width: 40%;
}

.description img {
  width: 150px;
}

.price {
  width: 11.5%;
}

.actual-price {
  text-decoration: line-through;
  font-size: small;
}

.quantity {
  width: 15%;
}

.subtotal {
  width: 12.5%;
}

.savings {

  width: 11%;
}

.savings-head {
  margin-left: auto;
}

.savings-data {
  color: red;
}

.remove {
  width: 10%;
}

.cart-final-options {
  display: flex;
  justify-content: space-between;
}

.checkout-box {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: .5rem;
  border: 1px solid black;
  border-radius: .5rem;
  flex-wrap: wrap;
}

.cart-price {
  flex-basis: 70%;
}

.cart-savings-price {

  flex-basis: 30%;
  margin-left: auto;

}

.checkout-box-price {
  display: flex;
}

.cart-reset-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* 
  address  css below
*/

.container-address-home {

  width: 60%;
  max-width: 500px;
  padding: .5rem;
  margin-left: 7rem;
}

.container-address {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-form {
  display: block;
}

.form {
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  border: none;
}

.form label {
  font-weight: bold;
  font-size: small;
}

/* .input-text */

.form input {
  display: block;
  width: 100%;
  height: 1.7rem;
  border: 1px solid grey;
  border-radius: .2rem;
}

.form-btn {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.form-btn input {
  width: auto;
}

.address-box-item {
  padding: 0;
}

.address-box-pill {
  list-style: none;
  font-size: small;
}

.address-box-pill:nth-child(1) {
  font-size: large;
}

.link-address {
  margin-left: 0;
}

.address-box-links {
  display: flex;
  flex-direction: column;
}

.address-box-links-2 {
  display: flex;
}

.link-edit {
  width: 50%;
}

.link-delete {
  width: 50%;
}