.App {
  text-align: center;
  display: grid;
  grid-template-areas: "head"
    "main"
    "footer";
  grid-template-rows: 100px 500px 200px;
  grid-template-columns: 1fr;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  grid-area: head;
  margin-bottom: 1rem;
}

.products-page {
  grid-area: main;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 1fr 5fr;
}

.side-nav {
  grid-area: aside;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: .5rem;
}

.side-nav-heading {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.float-left {
  float: left;
}

.container-products {

  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}



/*
Cart styles below
*/

.cart {
  margin: 2rem 6rem;
}

.cart-head {
  display: flex;
  width: 100%;
  background-color: darkgrey;
}

.cart-item {
  display: flex;
  padding-top: .5rem;
  border-top: 1px solid gray;
}

.cart-pill {
  padding: 1rem;
}

.description {
  display: flex;
  width: 40%;
}

.price {
  width: 11.5%;
}

.quantity {
  width: 15%;
}

.subtotal {
  width: 12.5%;
}

.savings {
  width: 11%;
}

.remove {
  width: 10%;
}