.App {
  text-align: center;
  display: grid;
  grid-template-areas: "head"
    "main"
    "footer";
  grid-template-rows: 100px 500px 200px;
  grid-template-columns: 1fr;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  grid-area: head;
  margin-bottom: 1rem;
}

.products-page {
  grid-area: main;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 1fr 5fr;
}

.side-nav {
  grid-area: aside;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: .5rem;
}

.side-nav-heading {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.float-left {
  float: left;
}

.container-products {

  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}



/*
Cart styles below
*/

.cart {
  margin: 2rem 6rem;
}

.cart-head {
  display: flex;
  width: 100%;
  background-color: darkgrey;
}

.cart-item {
  display: flex;
  padding-top: .5rem;
  border-top: 1px solid gray;
}

.cart-pill {
  padding: 1rem;
}

.description {
  display: flex;
  width: 40%;
}

.description img {
  width: 150px;
}

.price {
  width: 11.5%;
}

.actual-price {
  text-decoration: line-through;
  font-size: small;
}

.quantity {
  width: 15%;
}

.subtotal {
  width: 12.5%;
}

.savings {

  width: 11%;
}

.savings-head {
  margin-left: auto;
}

.savings-data {
  color: red;
}

.remove {
  width: 10%;
}

.cart-final-options {
  display: flex;
  justify-content: space-between;
}

.checkout-box {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: .5rem;
  border: 1px solid black;
  border-radius: .5rem;
  flex-wrap: wrap;
}

.cart-price {
  flex-basis: 70%;
}

.cart-savings-price {

  flex-basis: 30%;
  margin-left: auto;

}

.checkout-box-price {
  display: flex;
}

.cart-reset-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* 
  address form css below
*/
.container-form {
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.link {
  height: fit-content;
  padding: .2rem .5rem;
  margin: .3rem;
}

.form-row {
  display: flex;
}

.form-row-item {
  padding: .5rem;
}

/* label {
  display: inline-block;
  width: 100%;
  float: left;
}

input {
  width: 100%;
} */

.thirty-percent {
  width: 30%;
}

.fourty-percent {
  width: 40%;
}

.sixty-percent {
  width: 60%;
}

.seventy-percent {
  width: 70%;
}